<template name="livechatFlex">
	<header>
		<div>
			<h4>{{_ "Livechat"}}</h4>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			<ul>
				<li>
					<a href="#link" class="admin-link">{{_ "Dashboard"}}</a>
					<a href="#link" class="admin-link">{{_ "User_management"}}</a>
					<a href="{{pathFor 'livechat-departments'}}" class="admin-link">{{_ "Departments"}}</a>
					<a href="#link" class="admin-link">{{_ "Theme"}}</a>
					<a href="#link" class="admin-link">{{_ "Integrations"}}</a>
					<a href="#link" class="admin-link">{{_ "Live_sessions"}}</a>
				</li>
			</ul>
		</div>
	</div>
</template>
