<template name="room">
	{{#if livechatStartedEnabled}}
		<div class="livechat-room">
			<div class="title" style="background-color:{{color}}">
				<div class="toolbar">
					&nbsp;
					{{#unless popoutActive}}
						<i class="popout icon-link-ext" title="Open in a new window"></i>
					{{/unless}}
				</div>
				<h1>{{title}}</h1>
			</div>
			{{#if currentUser}}
				{{> messages}}
			{{else}}
				{{#if livechatEnabled}}
					{{> register}}
				{{else}}
					<div class="offline">{{_ "We_are_offline_Sorry_for_the_inconvenience"}}</div>
				{{/if}}
			{{/if}}
		</div>
	{{/if}}
</template>
